---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "gist";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "page";


blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 50px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -5px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

.avatar{ /* selector for avatar class*/
    float: left; /* we press to the left edge, flow around on the right */
    background: #fff; /* background */
    width: 50px;
    height: 50px;
    padding: 5px; /* internal padding ( top, right, bottom, left) */
    border: 1px solid #999; /* border(width, type, color) */
    border-radius: 50%; /* border-radius is equal to 50 percent of a general width, actually 25 pixels, here and a circle was got(there is also with prefix - moz and - o) */
    box-shadow: 0px 1px 1px 1px #bbb /* across displacement, vertical displacement, smearing, increase and color */
}
.avatar img{ /* selector for a picture which is "inside" the avatar class */
    display: block; /* a picture is being displayed as a block, by a width it will be equal to the parent(in the div) */
    width: 100%; /* width 100% */
    border: 0; /* zero border */
    margin: 0; /* external margin is lacking */
    border-radius: 50%; /* read above */
}

.avatar-big{ /* selector for avatar class*/
    background: #fff; /* background */
    width: 300px;
    height: 300px;
    padding: 5px; /* internal padding ( top, right, bottom, left) */
    border: 1px solid #999; /* border(width, type, color) */
    border-radius: 50%; /* border-radius is equal to 50 percent of a general width, actually 25 pixels, here and a circle was got(there is also with prefix - moz and - o) */
    box-shadow: 0px 1px 1px 1px #bbb /* across displacement, vertical displacement, smearing, increase and color */
}
.avatar-big img{ /* selector for a picture which is "inside" the avatar class */
    display: block; /* a picture is being displayed as a block, by a width it will be equal to the parent(in the div) */
    width: 100%; /* width 100% */
    border: 0; /* zero border */
    margin: 0; /* external margin is lacking */
    border-radius: 50%; /* read above */
}