{{ partial "head" . }}
<body>

    {{ partial "off-canvas" . }}

    <div class="site-wrapper">
        {{ partial "header" . }}

        <section class="single-wrap">
            <article class="single-content" itemscope itemtype="//schema.org/BlogPosting">
                <div class="feat">
                    <h5 class="page-date">
                    <time datetime="" itemprop="datePublished">
                    {{ .Date.Format .Site.Params.DateFormPost }}
                    </time>
                    </h5>

                </div>
                <div class="feat-sub">
                    <span class="post-reading-time">
                        <i class="fa fa-clock-o"></i>
                        Reading time ~ {{ .ReadingTime }} Min
                    </span>
                </div>
                <h1 class="page-title" itemprop="name headline">{{ .Title }}</h1>
                <div class="articleBody" itemprop="articleBody">
                    {{ .Content }}
                </div>
                <div class="feat share">
                    <a href="//twitter.com/share" class="popup">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>

                {{ if isset .Site.Params "disqusshortname" }}
                    {{ partial "disqus" . }}
                {{ end }}


                {{ if .PrevInSection }}
                    <a rel="next" href="{{ .PrevInSection.Permalink }}" id="next">
                        <span class="nav-title nav-title-next">{{ with .Site.Params.older }}{{ . }}{{ end }}</span> <i class="fa fa-long-arrow-right"></i>
                    </a>
                {{ end }}
                {{ if .NextInSection }}
                    <a rel="prev" href="{{ .NextInSection.Permalink }}" id="prev">
                        <i class="fa fa-long-arrow-left"></i> <span class="nav-title nav-title-prev">{{ with .Site.Params.newer }}{{ . }}{{ end }}
                    </a>
                {{ end }}
            </article>
        </section>

        {{ partial "footer" . }}
    </div>

    {{ partial "js" . }}
</body>
</html>
