<main>
    <div id="home">
        <ul class="posts">
        {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
        {{ range $paginator.Pages }}
            <li itemscope itemtype="//schema.org/BlogPosting">
                <a href="{{ .Permalink }}" itemprop="url">
                    <div class="p-wrap">
                        <div class="eyecatcher">
                          {{ if isset .Params "eyecatch" }}
                            <i class="fa {{ .Params.eyecatch }} fa-3x"></i>
                          {{ else }}
                            <i class="fa fa-pencil fa-3x"></i>
                          {{ end }}
                        </div>
                        <time datetime="" itemprop="datePublished">
                        {{ .Date.Format .Site.Params.DateForm }}
                        </time>
                        <span class="entry-reading-time pull-right">
                            <i class="fa fa-clock-o"></i>
                            Reading time ~ {{ .ReadingTime }} Min
                        </span>
                        <p id="name" itemprop="name headline">{{ .Title }}</p>
                    </div>
                </a>
            </li>
        {{ end }}
        </ul>
    </div>
</main>
